@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

 * {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #CDC3E6; 
} 

.container {
    position: relative;
    width: 1388px;
    max-width: 100%;
    height: calc(100vh - 54px);
    background: #fff;
    display: flex;

}

.container .leftSide {
    position: relative;
    flex: 30%;
    background: #fff;
}

.header {
    position: relative;
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 px;
    border: 2px solid #BEC1BB;
    border-bottom: 1px solid #BEC1BB;
}

.userimg {
    position: inherit;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%; 
    cursor: pointer;
    margin-left: 40px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons {
    display: flex;
}
.nav_icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 22px;
}
.nav_js{
    margin-right: 20px;
}

.Perfil{
    font-family: 'Roboto', sans-serif; 
    margin-right: 100px;
    font-size: 1.2em;
}

.name{
    font-size: 1.2em;
}
.activity{
    color: #aaa;
    font-size: 0.8em;
}


.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border: 2px solid #BEC1BB;
    border-top: 1px solid #BEC1BB;
    font-family: 'Roboto', sans-serif; 
}
.bottom-new {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 3em;
    border: solid 1px gray;
    cursor: pointer;
    color: white;
    background: #A491D2 ;
}

.imgbx img{
    height: 80px;
}
.chatlist {
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
    height: 700px;
}
.details{
    font-family: 'Roboto', sans-serif;
}

.chatlist .block {
    position: relative;
    width: 100%;
    height: 85.5px;
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid #BEC1BB;
    border-top: 1px solid #BEC1BB;
    cursor: pointer;
}

.chatlist .block .imgbx {
    position: relative;
    width: 65px;
    height: 58px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.chatlist .block .details {
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: black;
}

.message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.message_p p 
{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 1em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .rightSide {
    position: relative;
    flex: 70%;
    background-color: #E8EBE4;
}
.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightSide div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text{
    text-align: center;
}

.logo{
width: 300px;
}

.newchat{
    font-family: 'Roboto', sans-serif; 
}

.tittle{
    font-size: 3em;
}